:root {
  --primaryColor: #fc5c65;
  --whiteColor: #fff;
  --darkColor: #0c0c0c;
}

body {
  font-family: "Plus Jakarta Sans";
  color: var(--darkColor);
}

.app {
  text-align: center;
}

main {
  background-color: var(--whiteColor);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: var(--darkColor);
}

header {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 50px;
  color: var(--primaryColor);
  text-shadow: 0 0 10px rgb(0 0 0 / 15%);
}

.MuiFormGroup-row {
  width: 300px;
}

.MuiFormGroup-row {
  justify-content: center;
  margin-top: 20px;
}

.inputField {
  margin-bottom: 20px;
}

.inputField:last-child {
  margin-bottom: 0px;
}

.MuiFormControl-root {
  width: 100%;
}

.downloadLink, .downloadLink:hover {
  text-decoration: none;
  margin-top: 20px;
}