:root {
  --primaryColor: #fc5c65;
  --secondaryColor: #4ecdc4;
  --blackColor: #000;
  --blackTransparentColor: rgba(0, 0, 0, 0.5);
  --whiteColor: #fff;
  --mediumColor: #6e6969;
  --lightColor: #f8f4f4;
  --extraLightColor: #fcfcfc;
  --lightTransparentColor: rgba(248, 244, 244, 0.3);
  --darkColor: #0c0c0c;
  --dangerColor: #ff5252;
  --greenColor: #90be6d;
  --redColor: #e63946;
  --yellowColor: #ffe66d;
  --lightGrayColor: rgb(221, 221, 221);
}

body {
  font-family: "Plus Jakarta Sans";
  color: var(--darkColor);
}

.app {
  text-align: center;
}

main {
  background-color: var(--whiteColor);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: var(--darkColor);
}

.MuiInputBase-root {
  color: var(--lightColor)
}

.MuiInputBase-input {
  color: var(--redColor)
}

label.Mui-focused {
  color: var(--greenColor)
}

input:focus {
  color: var(--primaryColor);
}

header {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 50px;
  color: var(--primaryColor);
  text-shadow: 0 0 10px rgb(0 0 0 / 15%);
}

.outputContainer {
  color: var(--darkColor);
  display: flex;
  background-color: var(--lightColor);
  margin: 100px 0px;
  padding: 30px;
  /* box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px; */
  border-radius: 10px;
  border: 1px solid var(--primaryColor)
}

.MuiFormGroup-row {
  width: 300px;
}

.uppercase {
  text-transform: uppercase;
}

.nonUppercase {
  text-transform: unset;
}

.MuiFormGroup-row {
  justify-content: center;
  margin-top: 50px;
}

.MuiGrid-item {
  display: flex;
}

.outputContainer.rotation0 {
  transform: rotate(0deg);
}

.outputContainer.rotation90 {
  transform: rotate(90deg);
}

.outputContainer.rotation180 {
  transform: rotate(180deg);
}

.outputContainer.rotation270 {
  transform: rotate(270deg);
}

.outputContainer  {
  min-width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
}